#cookie-wrapper {
  transition: opacity .5s;
  animation: fromleft 1.75s;
  display: none;
}

.login-again-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, .3);
  z-index: 2;
  display: none;
  transition: opacity .4s;
}

.login-again-wrapper .mobile {
  text-align: center;
}

.login-again-wrapper .mobile div {
  width: 100vw;
}

.login-again-wrapper .mobile div input {
  width: 500px;
}

.login-again-wrapper.hidden {
  opacity: 0;
}

.login-again-wrapper input {
  background-color: transparent;
  width: 100px;
  height: 100px;
  border: 2px solid gray;
  color: white;
  text-align: center;
  font-size: 30px;
  transition: all .3s;
}

.login-again-wrapper input:focus {
  width: 110px;
  height: 110px;
  margin-left: -5px;
  outline: none;
}

.login-again-wrapper .login-again-passwords-entry {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .4s;
}

.login-again-wrapper .title-wrapper {
  width: 100vw;
  text-align: center;
  margin-top: 30vh;
}

.login-again-wrapper .title-wrapper h1 {
  color: white;
  font-size: 50px;
  font-weight: 1000;
}

.login-again-wrapper .login-again-passwords-entry.hidden {
  opacity: 0;
  margin-bottom: 10px;
}

@keyframes login-again-entry-hide {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  1% {
    opacity: 0;
    margin-top: -30px;
  }
  100% {
    opacity: 0;
    margin-top: -30px;
  }
}

.login-again-wrapper.visible {
  display: block;
}

.login-again-wrapper .logout-btn {
  color: white;
  width: 100px;
  height: 100px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
}

.login-again-wrapper .logout-btn img {
  width: 100%;
  filter: invert(80%);
}

.capslock-icon {
  display: none;
}

.icon.space {
  margin-right: 25px;
}

.login-wrapper .icon {
  float: right;
  width: 25px;
  height: 25px;
  margin-top: -35px;
  cursor: pointer;
}

.login-wrapper .icon img {
  width: 25px;
  filter: opacity(0.3);
  transition: all .3s;
}

.login-wrapper .icon:hover img {
  filter: opacity(0.5);
}

.login {
  height: 100%;
}

.register {
  height: 100%;
}

.login-wrapper .error {
  color: red;
  margin-top: -20px;
  margin-bottom: -30px;
  line-height: 20px;
}

.login-wrapper .login {
  transition: .6s;
}

.login-wrapper .login.top {
  margin-top: -635px;
}

.login-wrapper .register.visible {
  display: block;
}

.login-wrapper {
  background-color: white;
  width: 400px;
  height: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: fromTop .6s;
  transform: translate(-50%, -50%);
  padding: 20px;
  line-height: 30px;
  color: black;
  overflow: hidden;
  transition: left 1s;
}

.login-wrapper.hidden {
  left: -50%;
}

.login-wrapper .content {
  margin: 30px;
}

.login-wrapper .switch {
  color: rgb(120, 120, 120);
  cursor: pointer;
  float: right;
  margin-top: 6px;
}

.login-wrapper input {
  width: 100%;
  color: rgb(60, 50, 60);
  padding-top: 5px;
  padding-bottom: 10px;
  border: 0px;
  border-bottom: 2px solid gray;
  transition: .2s;

}

.login-wrapper input:focus {
  border: 0px;
  outline: none;
  padding-left: 5px;
  border-bottom: 2px solid var(--primary-color);
  overflow-x: hidden;
}


input[type="checkbox"] {
  width: 20px;
}

input[type="checkbox"]:checked {
  background: var(--primary-color);
}

.login-wrapper .input-label {
  margin: 0;
  margin-top: 30px;
  margin-left: 1px;
}

.login-wrapper h1 {
  color: rgb(60, 50, 60);
  text-align: center;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 50px;
}

.login-wrapper .btn {
  margin-left: calc(180px - 184px/2);
  margin-top: 80px;
  width: 170px;
  padding: 15px 0;
  text-align: center;
  cursor: pointer;
  background: var(--primary-color);
  position: relative;
}

.login-wrapper .btn p {
  color: white;
  font-weight: 900;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.BorderTopBottom:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  top: -6px;
  left: -7px;
  background: var(--primary-color);
  transition: all 0.5s ease;
}

.BorderTopBottom:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  bottom: -6px;
  right: -7px;
  background: var(--primary-color);
  transition: all 0.5s ease;
}

.BorderLeftRight:before {
  content: "";
  position: absolute;
  top: -4px;
  left: -7px;
  width: 3px;
  height: 25px;
  background: var(--primary-color);
  transition: all 0.5s ease;
}

.BorderLeftRight:after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: -7px;
  width: 3px;
  height: 25px;
  background: var(--primary-color);
  transition: all 0.5s ease;
}

.btn:hover .BorderTopBottom:before,
.btn:hover .BorderTopBottom:after {
  width: 184px;
  transition: all 0.5s ease;
}

.btn:hover .BorderLeftRight:before,
.btn:hover .BorderLeftRight:after {
  height: 70px;
  transition: all 0.5s ease;
}

@keyframes fromTop {
  from {top: -50%}
  to {top: 50%}
}

@media (max-width: 500px), (max-height: 550px) {
  .login-wrapper {
    width: 100%;
    height: 100%;
  }
  .login-wrapper .content {
    margin: auto;
    width: 50%;
  }

  .login-wrapper .btn {
    margin: auto;
    margin-top: 100px;
  }

  .login-wrapper .login.top {
    margin-top: -105vh;
  }
  body {
    overflow-x: hidden;
  }
}

@media (max-width: 500px) {
  .login-wrapper .content {
    width: 85%;
    margin: 30px;
  }
  .login-again-wrapper .mobile div input {
    width: 400px;
  }
}

@media (max-width: 400px) {
  .login-again-wrapper .mobile div input {
    width: 300px;
  }
}

@media (max-height: 450px) and (max-width: 500px){
  .login-wrapper .btn {
    margin-top: 30px;
  }
}
